/* 
    Color hexa code in sites:

    Green: #9aaf24
    News' background color: #fafafa
    Text color: #454545
    Heading upper color: #c9e23f -> #48e3dc
    Border color: #c9e23f
    special 'more detail' color: #c9e23f -> #47e3dc
    'more detail' button: #eeeeee
    news date background color: #333333
    nav border color: #575757
    news border: #eeeeee
*/

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Montserrat', Helvetica;
    color: #454545;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #454545;
    text-decoration: none;
}

a:hover {
    color: #9aaf24;
    cursor: pointer;
}

a:active {
    color: #9aaf24;
}

button {
    border-width: 0;
    font-family: HiraKakuProN, Montserrat;
    font-weight: bold;
}

section {
    margin-bottom: 70px;
}

img {
    width: 100%;
}

#main_wrapper {
    margin: 0 auto;
    width: 80%;
    max-width: 1080px;
    min-width: 972px;
    position: relative;
}

.site_header .site_logo {
    display: flex;
}

.main_image {
    position: relative;
}

.main_image .catch_copy {
    position: absolute;
    top: 30px;
    right: 70px;
    width: 22.5%;
}

.navigation {
    margin: 20px 0 30px;
}

.nav_list {
    display: flex;
    justify-content: space-around;
}

.nav_item a {
    font-size: 1.125em;
}

.is_active a {
    color: #9aaf24;
}

.section_header h2 {
    font-size: 1.5em;
}

.news {
    padding: 30px 0;
    background-color: #fafafa;
    border: 1px solid #eeeeee;
}

.news .news_wrapper {
    width: 70%;
    min-width: 500px;
    margin: 0 auto;
}

.news_list {
    display: flex;
    flex-direction: column; 
}

.news_item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 5px 0;
    font-size: 1em;
}

.news_item>div {
    display: inline-block;
}

.news_date {
    width: 20%;
    min-width: 100px;
    color: #ffffff;
    background-color: #333333;
    padding: 5px 0;
}

.news_title {
    width: 75%;
}

.news_title>a {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    line-height: 1.25;
    text-decoration: underline;
}

.feature_blk {
    display:flex;
    align-items: center;
}

.feature_blk>img {
    width: 33%;
    margin-right: 40px;
}

.feature {
    text-align: left;
}

.feature_title {
    font-size: 1.5em;
}

.feature_detail .aero888 {
    margin: 0 0 10px 10px;
    float: right;
    width: 37.5%;
    min-width: 180px;
}

.feature_detail>p {
    margin: 0.5em 0;
    line-height: 1.5;
    font-size: 1em;
    font-weight: 400;
}

.sub_description {
    padding: 0 15%;
    text-align: left;
}

.package_list {
    display: flex;
    justify-content: space-between;
}

.package_item {
    width: 32%;
    border: 4px solid #c9e23f;
}

.package_item a {
    display: block;
}

.package_item a:hover {
    color: inherit;
}

.package_item h3 {
    font-size: 1.5em;
    margin: 34px 0;
}

.package_item .fee {
    font-size: 2em;;
    margin: 0 0 34px;
}

.package_item .description {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 30px;
    letter-spacing: .1px;
    font-weight: 500;
    padding: 0 10px;
}

.package_item .detail_button {
    font-size: 1.125em;
    width: 80%;
    height: 50px;
    margin: 20px auto;
    font-weight: 600;
    background-color: #eeeeee;
}

.detail_button:hover {
    cursor: pointer;
}

.master {
    background-image: linear-gradient(to right, #c9e23f, #47e3dc)
}

.item_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    width: 16.66%;
    max-width: 180px;
    max-height: 180px;
    min-width: 162px;
    min-height: 162px;
    line-height: 0;
    opacity: 0.8;
}

.item:hover {
    opacity: 1;
}

@media (max-width: 1276px) {
    body {
        font-size: 0.925rem;
    }
}

@media (max-width: 1080px) {
    body {
        font-size: 0.8rem;
    }
    #main_wrapper {
        width: 90%;
        min-width: 768px;
    }
    .sub_description {
        padding: 0 10%;
    }
    .item {
        min-width: 128px;
        min-height: 128px;
    }
}